$small: 374px;
$tablet: 768px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $small) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  }
}

@mixin font($alias, $name, $weight) {
    @font-face {
        font-family: $alias;
        src: url("~@/assets/fonts/" + $name + ".woff") format("woff");
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}
