$base-font: "Merriweather";
$base-font-size: 14px;
$base-color: #343030;
$default-transition: all .3s ease;
$border-color: #e1e1e1;
$hover-link: #9f9f9f;
$focus: #b5b5b5;
$btn-hover: #776763;
$btn-default: #382e2b;
$tooltip: #403432;
$gray: #555555;
$hint: #a0a0a0;
$footer-background: #eceaea;
$active: #5b3a32;
$white: #f4f6f9;
$background: #f6f3f3;